PowerAutomate_SoftwareExpiryNotif/Microsoft.Flow/flows/e5204961-20f7-47a1-a00b-2315efb727b3/definition.json
{"name":"21bdb7b9-32e3-47a3-bd1a-53e76ea11c6d","id":"/providers/Microsoft.Flow/flows/21bdb7b9-32e3-47a3-bd1a-53e76ea11c6d","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Notif - Software License Expiry - 2","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"2bb10b15-405a-434b-bf50-805744861c37","type":"User","tenantId":"0c9bf8f6-ccad-4b87-818d-49026938aa97"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-06-26T14:06:44.468432Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"startTime":"2023-02-22T18:00:00.000Z"},"metadata":{"operationMetadataId":"44680a78-ac77-4282-acf6-1170dcceb91a"},"type":"Recurrence"}},"actions":{"Get_items":{"runAfter":{},"metadata":{"operationMetadataId":"5fd3c740-f645-453b-9d47-c3e82af8ad02"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://clemson.sharepoint.com/teams/CECASCOREHelpDesk","table":"87be12ae-cd7f-494d-a75f-0a513b97cc2d"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Get_items')?['body/value']","actions":{"Condition":{"actions":{"Post_adaptive_card_in_a_chat_or_channel":{"runAfter":{},"metadata":{"operationMetadataId":"fa12b9a1-f8fe-4f21-a503-3fc0e6a5d182"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostCardToConversation"},"parameters":{"poster":"Flow bot","location":"Channel","body/recipient/groupId":"340f3ecc-947c-4e5d-9d93-0f1d7d96a6d2","body/recipient/channelId":"19:052c353be90842feb118d31c8cd10063@thread.skype","body/messageBody":"{\n\"type\":\"AdaptiveCard\",\n\"body\": [\n {\n \"type\": \"TextBlock\",\n\"text\": \"License Expiry in 30 days\",\n \"spacing\": \"Medium\",\n \"size\": \"Large\",\n\"weight\": \"Bolder\"\n},\n {\n \"type\": \"TextBlock\",\n\"text\": \"Program: @{items('Apply_to_each')?['Title']}\",\n\"size\": \"Small\",\n \"spacing\": \"None\"\n},\n {\n \"type\": \"TextBlock\",\n\"text\": \"Expiring on: @{items('Apply_to_each')?['Expiration']}\",\n\"size\": \"Small\",\n \"spacing\": \"None\"\n},\n ],\n  \"version\": \"1.2\",\n \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\"\n}"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["@items('Apply_to_each')?['Expiration']","@addDays(utcNow(),30,'yyyy-MM-dd')"]},"metadata":{"operationMetadataId":"467bf519-55f3-4031-9ef0-7846724efbb1"},"type":"If"}},"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"3a5feb50-3613-46dd-a4f2-7a8000ee22c9"},"type":"Foreach"}},"description":""},"connectionReferences":{"shared_sharepointonline":{"connectionName":"54826552d148497b82fae4afea4c307e","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_teams":{"connectionName":"shared-teams-142e8ab9-179d-4fe5-86e1-e27634f8cda2","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}